
body, h1, h2, p, ul, li, form {
    margin: 0;
    padding: 0;
}

.video-section {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}
  
.video-section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #ff6f61;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.about-section {
    background-color: #ffcc5c;
    padding: 40px;
    text-align: center;
    margin-top: 10px;
}

.about-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1.2em;
    line-height: 1.6;
}

.contact-section {
    background-color: #5e8d93;
    color: #fff;
    padding: 40px;
    margin-top: 20px;
}

.contact-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-section p {
    font-size: 1.2em;
    line-height: 1.6;
}

.contact-section form {
    margin-top: 20px;
}

.contact-section label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #fff;
}

.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
}

.contact-section button {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-section button:hover {
    background-color: #ff9462;
}

.stores-section {
    background-color: #ffcc5c;
    color: #333;
    padding: 40px;
    margin-top: 30px;
    text-align: center;
}

.stores-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.stores-section p {
    font-size: 1.2em;
    line-height: 1.6;
}

.stores-section ul {
    list-style: none;
    padding: 0;
}

.stores-section li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.stores-section li:before {
    content: "\2022";
    color: #333;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.shop-section {
    padding: 40px 0;
}

.shop-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px;
}

.grid-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; 
}

.grid-item:hover {
    transform: translateY(-5px); 
}

.grid-item img {
    width: 100%;
    height: 350px; 
    object-fit: cover;
    border-radius: 10px; 
    margin-bottom: 15px;
}

.grid-item h3 {
    font-size: 1.5em; 
    text-align: center; 
}

.grid-item p.price {
    font-size: 1.2em; 
    text-align: center; 
    margin-bottom: 15px;
}

.grid-item button.add-to-cart {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
}

.grid-item button.add-to-cart:hover {
    background-color: #ff9462;
}

footer {
    background-color: #ff6f61;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 2px;
}

footer p {
    font-size: 1.2em;
}